
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!--write the Ui for login page in Account by add view in Login function of Account Controller-->
<div class="w3layouts-main">
    <div class="bg-layer">
        <h1>Slide Login form</h1>
        <div class="header-main">
            <div class="main-icon">
                <span class="fa fa-eercast"></span>
            </div>
            <div class="header-left-bottom">
                <form action="Verify" method="post">
                    <div class="icon1">
                        <span class="fa fa-user"></span>
                        <input type="text" name="name" placeholder="Name" required="" />
                    </div>
                    <div class="icon1">
                        <span class="fa fa-lock"></span>
                        <input type="password" name="password" placeholder="Password" required="" />
                    </div>
                    <div class="login-check">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Keep me logged in</label>
                    </div>
                    <div class="bottom">
                        <button class="btn">Log In</button>
                    </div>
                    <div class="links">
                        <p><a href="#">Forgot Password?</a></p>
                        <p class="right"><a href="#">New User? Register</a></p>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <div class="social">
                <ul>
                    <li>or login using : </li>
                    <li><a href="#" class="facebook"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#" class="twitter"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#" class="google"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>

        <!-- copyright -->
        <div class="copyright">
            <p>© 2019 Slide Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
        </div>
        <!-- //copyright -->
    </div>
</div>
<script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
</script>
